<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yapp.pic6.picproject" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.hardware.Camera" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/systemicon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DialogTestActivity"
            android:exported="true"
            android:label="@string/title_activity_dialog_test" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".GridAcitivy"
            android:label="@string/title_activity_grid_acitivy" >
        </activity>
        <activity
            android:name=".PicSettingsActivity"
            android:theme="@style/PreferencesTheme"
            android:label="@string/title_activity_pic_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogMainActivity"
            android:label="@string/title_activity_dialog_main"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name=".service.FifthService" />

        <receiver
            android:name=".service.MyBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.yapp.pic6.5sec" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme ="@android:style/Theme.Light.NoTitleBar">


        </activity>
        <activity
            android:name=".DeveloperInfoActivity"
            android:label="@string/title_activity_developer_info" >
        </activity>
        <activity
            android:name=".FinishTestActivity"
            android:label="@string/title_activity_finish_test" >
        </activity>
        <activity
            android:name=".PicMainActivity"
            android:label="@string/title_activity_pic_main"
            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name=".PhotoViewActivity"
            android:label="@string/title_activity_photo_view" >
        </activity>




    </application>

</manifest>
